body { font-size: 0.85rem; }
#top-container { background: #fff; }
#main-info { margin-top: 2rem; }
#city-table { margin-top: 2rem; }
#score-container { }
.added-population { position: relative; top: 0px; color: green; }